/* body {
    background-color: red;
    color: green; /* Tekstkleur is groen*/
    
header{
background-color: #ff0033;
height: 80px;
width: auto;
}

footer{background-color: blue;
height: 210px;
width: auto;
}

#Jonas {
    background-color: orangered;
}

#bryan {
    background-color: #FF69B4;
}
#babael {
    background-color: #00BFFF;
}
#maria {
    background-color: #7FFFD4;
}
#sammy {
    background-color: #00FF00;
}
#sandra {
    background-color: #FF00FF;
}
#obama {
    background-color: #ff0044;
}
#olivia {
  
  background-color: #FFE4E1;
}
